In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import statsmodels.api as sm

In [10]:
series = pd.read_csv("Series/monthly-boston-armed-robberies-j.csv")
series.set_index("Month", inplace=True)
series.head()

         Count
Month
1966-01     41
1966-02     39
1966-03     50
1966-04     40
1966-05     43

In [17]:
model = sm.tsa.SimpleExpSmoothing(series['Count'])
ses_model = model.fit(smoothing_level=0.2)
series['Forecast'] = ses_model.fittedvalues

/home/andrew/.cache/pypoetry/virtualenvs/ts-studying-gf7ATlvB-py3.12/lib64/python3.12/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency MS will be used.
  self._init_dates(dates, freq)
/home/andrew/.cache/pypoetry/virtualenvs/ts-studying-gf7ATlvB-py3.12/lib64/python3.12/site-packages/pandas/util/_decorators.py:213: EstimationWarning: Model has no free parameters to estimate. Set optimized=False to suppress this warning
  return func(*args, **kwargs)

In [18]:
series.head()

         Count  Forecast
Month
1966-01     41    41.000
1966-02     39    41.000
1966-03     50    40.600
1966-04     40    42.480
1966-05     43    41.984

In [24]:
model = sm.tsa.ExponentialSmoothing(series['Count'], trend='add')
des_model = model.fit(smoothing_level=0.2, smoothing_trend=0.2)
series['Forecast_01'] = des_model.fittedvalues

/home/andrew/.cache/pypoetry/virtualenvs/ts-studying-gf7ATlvB-py3.12/lib64/python3.12/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency MS will be used.
  self._init_dates(dates, freq)

In [25]:
series.head()

         Count  Forecast  Forecast_01
Month
1966-01     41    41.000    40.075552
1966-02     39    41.000    39.737435
1966-03     50    40.600    39.037445
1966-04     40    42.480    41.115955
1966-05     43    41.984    40.734124

In [26]:
model = sm.tsa.ExponentialSmoothing(series['Count'], trend='add', seasonal='add', seasonal_periods=12)
tes_model = model.fit(smoothing_level=0.2, smoothing_trend=0.2, smoothing_seasonal=0.4)
series['Forecast_02'] = tes_model.fittedvalues

/home/andrew/.cache/pypoetry/virtualenvs/ts-studying-gf7ATlvB-py3.12/lib64/python3.12/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency MS will be used.
  self._init_dates(dates, freq)

In [30]:
series.tail()

         Count    Forecast  Forecast_01  Forecast_02
Month
1975-06    316  381.920083   423.963203   425.763285
1975-07    398  368.736066   400.534369   470.555689
1975-08    394  374.588853   398.089927   514.914259
1975-09    431  378.471082   395.170776   407.003202
1975-10    431  388.976866   401.668625   450.736423

In [28]:
series_pred = tes_model.forecast(20)

In [29]:
series_pred

1975-11-01    417.110294
1975-12-01    386.105627
1976-01-01    403.904078
1976-02-01    356.849518
1976-03-01    311.340092
1976-04-01    287.258188
1976-05-01    255.949096
1976-06-01    277.425623
1976-07-01    351.485340
1976-08-01    386.345464
1976-09-01    360.752097
1976-10-01    389.297782
1976-11-01    359.618938
1976-12-01    328.614271
1977-01-01    346.412722
1977-02-01    299.358161
1977-03-01    253.848735
1977-04-01    229.766831
1977-05-01    198.457739
1977-06-01    219.934267
Freq: MS, dtype: float64

In [32]:
series_pred = pd.concat([series['Forecast_02'], series_pred])

In [33]:
series.shape, series_pred.shape

((118, 4), (138,))